#footer {
	background:#fff;
	padding-top:2em;
	padding-bottom:2em;
	font-size:2em;
	text-align:center;
}
.contact-details {
	padding:0em 0em 3em 0;
	color:#fff;
	width:100%;
	text-align:center;
	display:block;
	h2 {
			font-size:2.7em;
			padding:1em 0 0em 0;
		}
	div {
		padding:1em 0;
		h4 { font-size:2em;}
		p { font-size:1.8em; }
	}
}