@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate-Regular.eot');
	src: url('../fonts/Interstate-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-Regular.woff') format('woff'),
		url('../fonts/Interstate-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate-Light.eot');
	src: url('../fonts/Interstate-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-Light.woff') format('woff'),
		url('../fonts/Interstate-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate-Black.eot');
	src: url('../fonts/Interstate-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-Black.woff') format('woff'),
		url('../fonts/Interstate-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate';
	src: url('../fonts/Interstate-Bold.eot');
	src: url('../fonts/Interstate-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Interstate-Bold.woff') format('woff'),
		url('../fonts/Interstate-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='bespoke-icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.bespoke-icon-prev:before{content:'\0041';}
.bespoke-icon-next:before{content:'\0042';}
.bespoke-icon-arrow:before{content:'\0043';}
