// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

/*==================================
=            Color Vars            =
==================================*/
$pink : #e91980;
$grey : #ebebeb;
$grey-dark : #d1d1d1;
$black : #000000;

$brand-primary: $pink;
$font-primary: 'Interstate';


