#main-title {
	padding-top:4em;
	padding-bottom:4em;

	h4 {
		    font-size: 3.7em;
    		font-weight: 0;
    		margin-bottom: 0px;
	}
	h2 {
		    margin-top: 0px;
    		font-weight: 900;
	}
	&.no-padding {
		padding-bottom:0em;
		.text-box {
			padding-bottom:0em;
		}
	}
}

.colored-para {
	min-height:3em;
	background-color:$pink;
	h5 {
		min-height: 1em;
	}
	.fake-header {
		margin-top:3em;
	}
	.image-header {
	   padding: 12.7em 0;
    color: #fff;
	}

}

 .page-template-template-home-php{
	background-color:#fff;
}
